<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089561680073-k56mcknvfjahk59vnafo9gobcrfeovu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089561680073-k56mcknvfjahk59vnafo9gobcrfeovu6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbrkVo3yhDXa0vXnk5MpwouBvxFL79B_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1089561680073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hamoonjm.Smart-Phone</string>
	<key>PROJECT_ID</key>
	<string>smartphone-1</string>
	<key>STORAGE_BUCKET</key>
	<string>smartphone-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089561680073:ios:855e766f3e343d33165518</string>
	<key>DATABASE_URL</key>
	<string>https://smartphone-1.firebaseio.com</string>
</dict>
</plist>